body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-image 1.5s ease-in-out;}

  .register-container {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .register-container h2 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-group button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  .form-group button:hover{
    background-color: red;
  }

  .login-link {
    text-align: center;
    margin-top: 10px;
  }

  .login-link a {
    color: #3498db;
    text-decoration: none;
  }